.progress-bar-vertical {
  width: 200px;
  min-height: 300px;
  border-bottom: 3px solid #777;
  border-left: 3px solid #777;
  border-right: 3px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay input[type=submit] {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay input[type=submit]:hover {
  background: #bbb;
}
h4{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 5px;
  background: #03A9F4;
}
.setting{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 5px;
  background: #81D4FA;
}
#mode{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 5px;
  background: #4FC3F7;
}
.btn{
  margin-right: 10px;
  float: right;
}
.aa{
  width: 100px;
  height: 40px;
  margin: auto;
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 5px;
}

.aa:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}
